<div class="container-xxl mt-5 mx-5">

  <h2><mark>会員のみなさまへ</mark></h2>

  <h3 class="mt-5">[ご注文から発送までの流れ]</h3>

  <p class="mt-4">
    ご希望の商品、数量(商品1種類あたり10点まで)を選択し、注文画面にてお支払方法、配送先をご指定下さい。<br />
    送料は全国一律800円(税込)となっております。<br />
  </p>

  <p>
    当店は完全受注生産とさせていただいております。<br />
    ご注文完了後、入金が確認出来次第制作を開始し、通常1〜2営業日で発送いたします。<br />
    (ご購入数量が多い場合、またはクリスマス等の繁忙期では発送まで3営業日以上をいただく場合がございます。)
  </p>

</div>